body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: var(--background);
}

.contenedor{
    max-width: 1100px;
    margin: auto;
}

.inicio{
    color: var(--text-color);;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 40px 0px;
}

.inicio h3{
    padding: 5px 0px;
}

.inicio h1{
    color: var(--info-color);
    font-size: 40px;
    padding: 5px 0px;
}

.inicio .contact-buttons{
    padding: 30px 0px;
    margin-bottom: 30px;
}

.btn {
    background-color: transparent;
    padding: 15px;
    border: 1px solid var(--info-color);
    color: var(--info-color);
    font-weight: bold;
    border-radius: 10px;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    transition: .3s;
}

.btn2{
    background-color: var(--info-color);
    color: var(--background);
}

.btn:hover{
    box-shadow: 0 0 10px var(--btn-shadow);
}

.inicio .profile-img{
    background: linear-gradient(transparent, var(--info-color), transparent);
    max-width: 400px;
}

.inicio .profile-img img{
width: 80%;
display: block;
margin: auto;
padding: 80px 20px 0px 40px;
}

.inicio .social-buttons{
    position: absolute;
    left: -50%;
    top: 50%;
    transform: translateY(-50%);
}

.inicio .social-buttons a{
    display: block;
    color: var(--info-color);
    background-color: transparent;
    font-size: 20px;
    margin: 15px 0px;
    transition: 3px;
}

.inicio .social-buttons a:hover{
    text-shadow: 0 0 20px var(--btn-shadow);
}


/* About me */

.about-me{
    padding: 50px 0;
}

.section-title{
    text-align: center;
    color: var(--info-color);
    padding: 60px 0px;
}

.about-me .row{
    display: flex;
    padding: 30px 0px;
}

.about-me .row .col{
    width: 50%;
}

.about-me .row .about-me-img img{
    width: 400px;
    border: 5px solid var(--info-color);
}

.about-me .row .info .about-me-boxes{
    display: flex;
    justify-content: space-between;
}

.about-me .row .info .about-me-boxes .box{
    width: 140px;
    height: 140px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    border-radius: 10px;
    border: 2px solid var(--info-color);
    color: var(--text-color);
    font-weight: bold;
}

.about-me .row .info .about-me-boxes .box .num{
    padding: 5px 0px;
    font-size: 14px;
    color: var(--text-color);
}

.about-me .row .info .presentation{
    color: var(--text-color);
    margin: 30px 0px;
    line-height: 25px;
}

/* Studies */

/* Experience */

.experience .row{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.experience .row .col{
    width: 48%;
    background-color: var(--background);
    border: 1px solid var(--info-color);
    padding: 20px 40px;
}

.experience .row .col h3{
    color: var(--btn-shadow);
    text-align: center;
    padding: 20px 0px;
}

.experience .row .col .info{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}

.experience .row .col .info .item{
  color: var(--text-color);
  position: relative;
}

.experience .row .col .info .item span{
    display: block;
    margin-left: 25px;
}

.experience .row .col .info .item i{
    position: absolute;
    color: var(--info-color);
    top: 4px;
}

.experience .row .col .info .item .skill{
    font-weight: bold;
}

.experience .row .col .info .item .level{
    color: var(--btn-shadow);
    margin-top: 7px;
}

/* Portafolio */
.portafolio .row{
    display: grid;
    grid-template-columns: 340px 340px 340px;
    grid-gap: 20px;
}

.portafolio .row .item{
    background-color: var(--secondary-color);
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 30px;
}


.portafolio .row .item img{
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 30px;
}

.portafolio .row .item p{
    color: var(--text-color);
    margin: 20px 0;
}

/* Contact */

.contact .row {
    display: flex;
    color: var(--text-color);
}

.contact .col .item{
    background-color: var(--secondary-color);
    padding: 30px 40px;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 20px;
}

.contact .col .item span{
    display: block;
    margin: 7px 0px;
}

.contact .col .item a{
    text-decoration:  none;
    color: aqua;
    margin-top: 10px;
    display: inline-block;
}

.contact .form{
    padding-left: 100px;
    width: 100%;
}

.contact .form input, .contact .form textarea{
    display: block;
    background-color: transparent;
    border: none;
    border: 1px solid var(--info-color);
    padding: 25px 20px;
    border-radius: 10px;
    color: var(--text-color);
    width: 100%;
    margin-bottom: 20px;
    outline: none;
}

/* Footer */

footer{
    background-color: var(--secondary-color);
    text-align: center;
    padding: 100px 0 120px 0;
    margin-top: 0px;
}

footer span{
    display: block;
    font-size: 30px;
    margin-bottom: 20px;
}

footer a{
    text-decoration: none;
    color: var(--info-color);
    display: inline-block;
    margin: 0 30px;
}

/* responsive */

@media only screen and (max-width:1000px){
    .contenedor{
        padding: 0 20px;
    }
    .portafolio .row{
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width:800px){
    .about-me .row{
        display: block;
    }
    .about-me .row .col{
        width: 100%;
        margin-bottom: 20px;
    }
    .experience .row{
        display: block;
    }
    .experience .row .col{
        width: 100%;
        margin: auto;
    }
    .portafolio .row{
        grid-template-columns: auto;
    }
    .contact .row{
        display: block;
    }
    .contact .form{
        padding-left: 0;
    }
    footer a{
        display: block;
    }
}